/* ---------------service--------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "roboto", sans-serif;
}

:root {
  --header-color: #212121;
  --primary-title-color: #ffffff;
  --second-title-color: #212121;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --brand-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}

.link {
  font-style: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
}

.title {
  margin-top: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/* ---------------header--------------- */

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-list > .item:not(:last-child) {
  margin-right: 50px;
}

.connection {
  display: flex;
  padding-left: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.connection .item:not(:last-child) {
  margin-right: 50px;
}

.brand-link {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.brand-span-web {
  color: var(--brand-color);
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* ---------------hero--------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--third-background-color);
}

.hero > * {
  text-align: inherit;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-title-color);

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--brand-color);
}

/* ---------------features--------------- */

.features {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.item-title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.features-list > li {
  width: calc((100% - 90px) / 4);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

/* ---------------about--------------- */

.about {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;
}

.about-title {
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin-bottom: 0;
}

.about-list > li:not(:last-child) {
  margin-right: 30px;
}

/* ---------------team--------------- */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--secondary-background-color);
}

.team-title {
  margin-bottom: 50px;

  text-align: center;
}

.team-list {
  display: flex;
  padding-left: 0;
}

.team-list > li:not(:last-child) {
  margin-right: 30px;
}

.masters-name {
  margin-bottom: 10;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.team-div-first {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.team-div-second {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.team-div-third {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.team-div-fourth {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

/* ---------------footer--------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--third-background-color);
}

.footer-brand-link {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.footer-address {
  font-style: inherit;
}

.footer-contacts-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.footer-contacts-list > .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link-place {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link-place:hover,
.footer-link-place:focus {
  color: var(--accent-color);
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-text-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.brand-span-studio {
  color: #ffffff;
}

.footer-title {
  color: #ffffff;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
